[submodule "multi_branch"]
	path = multi_branch
	url = git@gitlab.com:xmarts/apps/multi_branch.git
[submodule "wk_coupons"]
	path = wk_coupons
	url = git@gitlab.com:xmarts/apps/wk_coupons.git
[submodule "pos_coupons"]
	path = pos_coupons
	url = git@gitlab.com:xmarts/apps/pos_coupons.git
	branch = 13.0
[submodule "pos_gift_card"]
	path = pos_gift_card
	url = git@gitlab.com:xmarts/apps/pos_gift_card.git
	branch = 13.0
[submodule "git@gitlab.com:xmarts/apps/bi_pos_multi_currency"]
	path = git@gitlab.com:xmarts/apps/bi_pos_multi_currency
	url = git@gitlab.com:xmarts/apps/bi_pos_multi_currency.git
	branch = 13.0
[submodule "xmarts_pos_invoice"]
	path = xmarts_pos_invoice
	url = git@gitlab.com:xmarts/xmarts-apps/xmarts_pos_invoice.git
[submodule "l10n_mx_pos_global_invoice"]
	path = l10n_mx_pos_global_invoice
	url = git@gitlab.com:xmarts/xmarts-apps/l10n_mx_pos_global_invoice.git
	branch = 13.0
[submodule "xml_invoice"]
	path = xml_invoice
	url = git@gitlab.com:xmarts/xmarts-apps/xml_invoice.git

[submodule "l10n-dominicana"]
	path = l10n-dominicana
	url = git@github.com:odoo-dominicana/l10n-dominicana.git
	branch = 13.0
