[submodule "wk_coupons"]
	path = wk_coupons
	url = git@gitlab.com:xmarts/apps/wk_coupons.git
[submodule "pos_coupons"]
	path = pos_coupons
	url = git@gitlab.com:xmarts/apps/pos_coupons.git
	branch = 13.0
[submodule "pos_gift_card"]
	path = pos_gift_card
	url = git@gitlab.com:xmarts/apps/pos_gift_card.git
	branch = 13.0
[submodule "git@gitlab.com:xmarts/apps/bi_pos_multi_currency"]
	path = git@gitlab.com:xmarts/apps/bi_pos_multi_currency
	url = git@gitlab.com:xmarts/apps/bi_pos_multi_currency.git
	branch = 13.0
[submodule "xmarts_pos_invoice"]
	path = xmarts_pos_invoice
	url = git@gitlab.com:xmarts/xmarts-apps/xmarts_pos_invoice.git
[submodule "xml_invoice"]
	path = xml_invoice
	url = git@gitlab.com:xmarts/xmarts-apps/xml_invoice.git
[submodule "l10n-dominicana"]
	path = l10n-dominicana
	url = git@github.com:odoo-dominicana/l10n-dominicana.git
	branch = 13.0
[submodule "xmarts/l10n-mx-xml-invoice"]
	path = xmarts/l10n-mx-xml-invoice
	url = git@github.com:xmarts/l10n-mx-xml-invoice.git
	branch = 13.0-staging-ro

[submodule "xmarts/l10n-mx-pos-global-invoice"]
	path = xmarts/l10n-mx-pos-global-invoice
	url = git@github.com:xmarts/l10n-mx-pos-global-invoice.git
	branch = 13.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:Vauxoo/mexico.git
	branch = 13.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:Vauxoo/vendor-bills.git
	branch = 13.0
[submodule "pasteleria"]
	path = pasteleria
	url = git@git.vauxoo.com:Vauxoo/pasteleria.git
	branch = 13.0
